{% extends "base.html" %}
{% block content %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1> Welcome to our photo albums website!</h1>
                <p> It's a website for people to create their own albums! </p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            {% for album in albums_list %}
                <div class="col-md-4">
                    <a href="{{ url_for('album.album_route') }}?albumid={{ album.albumid }}" id="album_{{ album.albumid }}_link">
                        <h2> {{ album.title }} </h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}